
$root_dev: "//localhost:3000/randomseeds/";
$root_prod: "http://randomseeds.com/";
$myroot: $root_prod;

body {
  //background-color: #FAFAFA;
  background-color: #EEE;
}

$border-style: 1px solid #ccc;
.border-randomseeds {
  border: $border-style;
}
.border-bottom-half {
  border-left: $border-style;
  border-right: $border-style;
  border-bottom: $border-style;
}

/////////////////////////////////////////////////
// DEFAULT TO 100% WIDTH...
// I want to use row/column grid stuff to manage layouts, sometimes fullwidth, other times page-wide.
// Use class "page-wide" for default page width
#page-full {
  width: 100% !important;
  max-width: 100%;
}
#single-post{
  max-width: 100%;
}
#single-post .main-content {
  width: 100% !important;
}
#page {
  max-width: 100%;
}
#page .main-content {
  width: 100% !important;
}
.row {
  max-width: 100%;
}
.page-wide {
  //TODO: this is probably a variable somewhere
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
/////////////////////////////////////////////////

#cover-wrap {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%),
  url(#{$myroot}images/random_rubix_2k.jpg);
  //background-image: url(//localhost:3000/randomseeds/wordpress/wp-content/uploads/2015/03/StockSnap_QED8GG50PU_2k.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 165px;
}

#site-branding-wrap {
  height: 100%
}

#site-branding {
  color: white;

  margin-left: 0.9375rem;
  //padding-left: 0.9375rem;
}

#site-branding a {
  color: white;
  transition: opacity 0.2s;
}

#site-branding a:hover {
  opacity: 0.7;
}

.site-name {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 1;
}

.site-desc {
  font-size: 1rem;
  opacity: 0.8;
}

#nav-wrap {
  background-color: #fff;
}

.top-bar, .top-bar ul {
  background-color: transparent;
}

// Tablet and desktop menu
.top-bar {
  .menu a {
    color: #222;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5;

    &:hover:not(.button) {
      color: #767676;
      background-color: transparent;
    }
  }

  .menu .active a { // not this required mapping 'active' to wordpress 'current-menu-item' in functions.php
    //text-decoration: underline;
    color: #767676;
    background-color: inherit;
  }

  .menu li:not(:last-child) { border-right: none; }

}

.homepage {
  background-color: #eee;
}

.homepage h2 {
  font-size: 1.65rem;
}

.homepage img {
  width: 100%;
  min-height: 150px;
}

.homepage a {
  color: #222;
}

.homepage a:hover {
  color: #767676;
}

.homepage a:hover img, .homepage a:focus img {
  opacity: 0.7;
}

.homepage a img {
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#quip {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.card-randomseeds {
  height: 100%;
  background-color: #fff;
}

#footer-container {
  border-top: $border-style;
}


.round-corners {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.round-top-corners {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.round-bottom-corners {
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@include breakpoint(small only) {
  #cover-wrap {
    height: 100px;
  }

  .site-name {
    font-size: 1.5rem;
  }

  #site-navigation {
    border-bottom: $border-style;
  }

  .top-bar, .top-bar ul {
    padding: 0.25rem 0.625rem;
  }

  .top-bar {
    .menu li:not(:last-child) { border-bottom: $border-style; }
  }

  .top-bar .menu > li:not(.menu-text) > a {
    padding: 0.7rem 0;
  }

  .title-bar {
    background: inherit;
    border-bottom: $border-style;
  }

  .title-bar-title a {
    color: #222;

    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1.5;
  }

  .homepage h2 {
    font-size: 1.35rem;
  }

  #quip {
    font-size: 1.5rem;
  }

}

@include breakpoint(medium only) {
  .site-name {
    font-size: 1.8rem;
  }
}

@include breakpoint(medium up) {

  #nav-wrap {
    border-bottom: $border-style;
  }

  .top-bar {

    .menu a {
      height: 70px;
    }

    .menu>li:not(.menu-text)>a {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 0;
      padding-right: 2rem;
    }

  }

  .top-bar-right {
    display: none;
  }

  .top-bar-left {
    margin-left: 0.9375rem;
  }
}
